# data directories
INPUT_DIR=<path to input directory>
OUTPUT_DIR=<path to output directory>

# MySQL database settings
MY_HOST=localhost
MY_PORT=3306
MY_DB=<MySQL database name>
MY_USER=<MySQL user name>
MY_PASSWORD=<MySQL password>

# Apache Solr settings
SOLR_HOST=localhost
SOLR_PORT=8983
